.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


git push -f https://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@github.com/yu-xian-chen/newclitest.git master:gh-pages