// 字型的class名稱
// .font-48 		H1
// .font-36 		H2
// .font-32			H3
// .font-28 		H4
// .font-24			H5
// .font-20			H6/段落標題
// .font-18			按鈕/麵包屑
// .font-16-15em	內文:窄行高
// .font-16-24em	內文:寬行高
// .font-14			輸入框下方提示字

// 使用說明
// 要用到字體規範的頁面引入這個(路徑可能要改) @import "./assets/sass/base/font";
// 然後直接套上面的 class 名稱就可以了
// H1~H6 為參考，實際狀況看排版需求使用
// 內文請照格式 font-16-15em / font-16-24em

// 前台:思源宋體
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

// 後台:思源黑體
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap');

%font-style{
	$Serif: true;
	@if $Serif{ font-family: 'Noto Serif TC', '微軟正黑體'; }
	@else{		font-family: 'Noto Sans', '微軟正黑體'; 	}
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: 0.15em;
	text-align: justify;
}

$font-size: 48, 36, 32, 28, 24, 20, 18, 14;
@each $size in $font-size{
	.font-#{$size}{
		@extend %font-style;
		font-size: $size + px;
	}
}

// line-height
$font-lh: 15, 24;
@each $lh in $font-lh{
	.font-16-#{$lh}em{
		font: 500 16px / #{$lh/10} + em 'Noto Serif TC';
		letter-spacing: 0.15em;
		text-align: justify;
	}
}
// font: font-weight font-size/line-height font-family;